* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.main {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: inline-block;
}

.data {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 20px;
}

.healthBarContainer {
  position: relative;
  width: 100%;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.healthBar {
  background-color: red;
  height: 30px;
  width: 100%;
}

.filler {
  position: absolute;
  background-color: #818cf8;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

#timer {
  color: white;
  width: 100px;
  height: 50px;
  background-color: black;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

.player1 {
  border-left: 4px solid white;
  display: flex;
  justify-content: flex-end;
}

.player2 {
  border-right: 4px solid white;
}

.hello {
  color: red;
}

.message {
  font-size: 20px;
  text-shadow: 2px 2px white;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
